Repository eclipse-edc/Technology-Azure, pull requests merged in 2024-08, with the labels that each got.

#235 fix(ci): set version before tests, publishing
  .github/workflows/publish.yaml
  .github/workflows/release-tech-az.yml
  .github/workflows/verify.yaml
  DEPENDENCIES
  extensions/common/azure/azure-eventgrid/src/main/java/org/eclipse/edc/azure/event/AzureEventExtension.java
  extensions/data-plane/data-plane-azure-storage/src/main/java/org/eclipse/edc/connector/dataplane/azure/storage/metadata/CommonBlobMetadataDecorator.java
  extensions/data-plane/data-plane-azure-storage/src/test/java/org/eclipse/edc/connector/dataplane/azure/storage/AzureDataPlaneCopyIntegrationTest.java
  extensions/data-plane/data-plane-azure-storage/src/test/java/org/eclipse/edc/connector/dataplane/azure/storage/metadata/CommonBlobMetadataDecoratorTest.java
  extensions/data-plane/data-plane-azure-storage/src/test/java/org/eclipse/edc/connector/dataplane/azure/storage/pipeline/AzureDataSourceToDataSinkTest.java
  extensions/data-plane/data-plane-azure-storage/src/test/java/org/eclipse/edc/connector/dataplane/azure/storage/pipeline/AzureStorageDataSinkTest.java
Labels: bug, build

#243 refactor: remove registration service extension
  DEPENDENCIES
  extensions/registration-service/participant-store-cosmos/build.gradle.kts
  extensions/registration-service/participant-store-cosmos/src/test/java/org/eclipse/edc/registration/store/cosmos/CosmosParticipantStoreIntegrationTest.java
  extensions/registration-service/participant-store-cosmos/src/test/resources/schema.sql
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: enhancement

#247 ci: launch test workflow also on release and bugfix branches
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-check.yml
  .github/workflows/nightly.yaml
  .github/workflows/verify.yaml
  DEPENDENCIES
  gradle/libs.versions.toml
  system-tests/runtimes/azure-data-factory-transfer-consumer/build.gradle.kts
  system-tests/runtimes/azure-data-factory-transfer-provider/build.gradle.kts
  system-tests/runtimes/azure-storage-transfer-consumer/build.gradle.kts
  system-tests/runtimes/azure-storage-transfer-provider/build.gradle.kts
Labels: build

#250 build(deps): bump gradle wrapper to 8.10
  .github/workflows/verify.yaml
  DEPENDENCIES
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, build
